/* CONTACT SECTION */
.contact{
    background-image: url(/img/contact_bg.png);
    background-color: #131517;
    color: #fff;
    padding: 50px 0;
}

.contact .section-content{
    max-width: 1100px;
    margin: auto;
}

.contact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contact p{
    font-size: 18px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contact .tile{
    display: flex;
}

.contact .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contact .col .send_email{
    position: absolute;
    top:40%;
    background-color: #272f36;
    padding: 20px;
    max-width:350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact .button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contact .button .overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #9772db;
    z-index: -1;
    transition: 1s;
}

.contact .button:hover .overlay{
    width:100%;
}

.contact .col img{
    width:100%;
}

.contact .col .info{
    position: absolute;
    top:40%;
    background-color: #252A2E;
    padding: 20px;
    max-width:350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact .col .info ul{
    list-style: none;
}

.contact .col .info .ul .li{
    margin-bottom: 20px;
}

.conectord .col .info ul li i{
    color: #9772db;
    display: inline-block;
    margin-right: 20px;
}