/* CURRICULUM SECTION*/
.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .content-section {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .tile {
    display: flex;
    justify-content: space-between;
}

.curriculum .tile .col{
    width: 49%;
    padding: 0 20px; 
}

.curriculum .tile .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .tile .left{
    border-right: 2px solid #252A2E;
}

.curriculum .tile .right{
    border-left: 2px solid #252A2E;
}

.curriculum .tile .item{
    padding: 25px;
    margin-bottom:30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .tile .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .tile .item .home {
     color: #9772db;
     font-size: 22px;
     font-weight: bold;
     display: block;
}

.curriculum .tile .item .date{
    display: block;
    color:#9772db;
    margin-bottom: 10px;
}

.curriculum .tile .item p{
    line-height: 24px;
}

.curriculum .tile .izq{
    border-right: 2px solid #9772db;
    margin-right: 20px;
}

.curriculum .tile .der {
    border-left: 2px solid #9772db;
    margin-left: 20px;
}

.curriculum .tile .item .conectori {
    height: 2px;
    background-color: #9772db;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .tile .item .conectori .cyrclei {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #9772db;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .tile .item .conectord {
    height: 2px;
    background-color: #9772db;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .tile .item .conectord .cyrcled {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #9772db;
    float: left;
    position: relative;
    bottom: 4px;
}