/* FOOTER */
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .socialMedia a {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s, transform 0.3s;
}

footer .socialMedia a:hover {
  color: #ac96c9;
  transform: scale(1.2);
}

footer p {
  font-size: 0.9rem;
  margin-top: 10px;
}

footer .up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #9772db;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}