/* MENU */
.contenedor-header{
    background: #191425;
    position: fixed;
    width: 100%;
    text-justify: 0 0 #000;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #9389c9;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: #9389c9;
}
.nav-responsive{
    background-color:  #9772db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#languageSelector {
    background-color: #2f2444;
    color: #fff;               
    border: 1px solid #9389c9; 
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;         
    outline: none;
}

#languageSelector option {
    background-color: #191425; 
    color: #fff;               
}

.contenedor-header header nav ul li {
    display: flex;
    align-items: center;
}