/* INIT SECTION*/

.init{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), 
    url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.init .content-banner{
    padding: 20px;
    background-color: #191425;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.init .content-banner img{
    margin-top: 40px;
    border:10px solid #524766;
    display: BLOCK;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.init .content-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.init .content-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.init .content-banner .socialMedia a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.init .content-banner .socialMedia a:hover{
    background-color: #524766;
}